<!-- Tabs referencing slides-->
<ion-tabs class="tabs-icon-top tabs-gradient-medium-to-light" data-rel="slide">

  <!-- <ion-tab title="Status" ng-attr-icon="{{platform != 'android' ? 'ion-ios-pulse' : 'undefined'}}" on-select="slidePage(0, 'Status')">
  </ion-tab>

  <ion-tab title="Camera" ng-attr-icon="{{platform != 'android' ? 'ion-ios-camera' : 'undefined'}}" on-select="slidePage(1, 'Camera')">
  </ion-tab>

  <ion-tab title="Barcode" ng-attr-icon="{{platform != 'android' ? 'ion-ios-barcode' : 'undefined'}}"  on-select="slidePage(2, 'Barcode')">
  </ion-tab>

  <ion-tab title="Motion" ng-attr-icon="{{platform != 'android' ? 'ion-ios-gear' : 'undefined'}}"  on-select="slidePage(3, 'Motion')">
  </ion-tab> -->

  <ion-tab title="Status" ng-attr-icon="{{platform != 'android' ? 'ion-ios-pulse' : 'undefined'}}" on-select="currentTab(0, 'Status')">
  </ion-tab>

  <ion-tab title="Camera" ng-attr-icon="{{platform != 'android' ? 'ion-ios-camera' : 'undefined'}}" on-select="currentTab(1, 'Camera')">
  </ion-tab>

  <ion-tab title="Barcode" ng-attr-icon="{{platform != 'android' ? 'ion-ios-barcode' : 'undefined'}}"  on-select="currentTab(2, 'Barcode')">
  </ion-tab>

  <ion-tab title="Motion" ng-attr-icon="{{platform != 'android' ? 'ion-ios-gear' : 'undefined'}}"  on-select="currentTab(3, 'Motion')">
  </ion-tab>

</ion-tabs>

<!-- Slides -->
<ion-content class="content-slide" ng-class="{'has-tabs-top':platform == 'android', 'has-footer':platform != 'android'}" scroll="false">
  <ion-slide-box options="options" slider="data.slider" on-slide-changed="slideChanged(index)" show-pager="false">

    <ion-slide>
      <ion-nav-view name="tab-status"></ion-nav-view>
    </ion-slide>

    <ion-slide>
      <ion-nav-view name="tab-camera"></ion-nav-view>
    </ion-slide>

    <ion-slide>
      <ion-nav-view name="tab-barcode"></ion-nav-view>
    </ion-slide>

    <ion-slide>
      <ion-nav-view name="tab-motion"></ion-nav-view>
    </ion-slide>

  </ion-slide-box>
</ion-content>
